:root {
  transition: background-color 0.5s ease, color 0.5s ease;
  --color-bg-primary: #f5f7fa;
  --color-bg-secondary: #fff;
  --color-text-primary: #111217;
  --color-text-secondary: #2a2f36;
  --color-accent: #a7e600;

  --color-white: #fff;
  --color-soft-white: #f5f7fa;
  --color-light-gray: #6b7280;
  --color-dark-gray: #2a2f36;
  --color-graphite-black: #111217;
  --color-accent-lime: #a7e600;
  --color-accent-gray: #171a20;
}

[data-theme="dark"] {
  transition: background-color 0.5s ease, color 0.5s ease;
  --color-bg-primary: #111217;
  --color-bg-secondary: #181a1f;
  --color-text-primary: #f5f7fa;
  --color-text-secondary: #fff;
  --color-accent: #a7e600;

  --color-white: #fff;
  --color-soft-white: #f5f7fa;
  --color-light-gray: #6b7280;
  --color-dark-gray: #2a2f36;
  --color-graphite-black: #111217;
  --color-accent-lime: #a7e600;
  --color-accent-gray: #171a20;
}